bcrypt==3.2.0
certifi==2022.12.7
cffi==1.15.1
click==8.0.4
colorama==0.4.6
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
greenlet==2.0.1
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pip
pycparser==2.21
PyJWT==2.4.0
six==1.16.0
SQLAlchemy==1.4.39 #flask-SQLAlchemy and SQLAlchemy might be dups... 
Werkzeug==2.2.2
wincertstore==0.2
Flask-Migrate==4.0.4
Mako==1.2.4
alembic==1.9.4
async-timeout==4.0.2
redis==4.5.1
rq==1.12.0
email-validator==1.3.1
flask-mail
pytest==7.2.2
torchaudio

# YOLOv5 requirements
# Base ------------------------------------------------------------------------
gitpython
ipython  # interactive notebook
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
psutil  # system resources
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
thop>=0.1.1  # FLOPs computation
torch>=1.7.0  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.8.1
tqdm>=4.64.0

# Logging ---------------------------------------------------------------------
tensorboard>=2.4.1

# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export ----------------------------------------------------------------------
onnx>=1.12.0  # ONNX export
onnxruntime
onnx-simplifier>=0.4.1  # ONNX simplifier

# Deploy ----------------------------------------------------------------------
setuptools>=65.5.1 # Snyk vulnerability fix
wheel>=0.38.0 # Snyk vulnerability fix

# Extras ----------------------------------------------------------------------
albumentations>=1.0.3
