:root {
    --mdc-theme-primary: #b9e0a5;
    --mdc-theme-secondary: #663300;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: black
}

.grid {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.main-grid {
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 8fr 1fr;
    column-gap: 25px;
}

.left-side {
    color: #b9e0a5;
    padding: 15px;
}

.right-side {
    padding: 15px;
}