:root {
    --mdc-theme-primary: #b9e0a5;
    --mdc-theme-on-primary: black;
    
}
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--mdc-theme-on-primary)
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

main {
    padding-top: 64px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
