/* Author: Carl */
form.form-image-identification {
  display: table;
}

div.form-entry {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
}

.setting-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.settings-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.setting-title {
  font-size: 36px;
  padding-bottom: 20px;
}

.setting-name {
  font-size: 18px;
}

#image-uploads {
  opacity: 0;
  height: 0;
  margin: 0;
}

#image-uploads-label {
  height: 80px;
  /* width: 80%; */
  margin: 0;
}

#identify-button {
  font-size: 24px;
}

#uploaded-image-list-title {
  font-size: 36px
}

.mdc-image-list__item {
  padding: 5px;
  /* max-width: 100px; */
}
