.mdc-top-app-bar {
  background-color: #b9e0a5ff;
}

.login_input {


    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.right {
  right: 0;
  background-color: #663300ff;
  width: 40%;
}

.left {
  left: 0;
  width:60%
}