.mdc-top-app-bar {
  background-color: #b9e0a5ff;
}

.input-box {
  position: relative;
  left: 25px;
  width: 250px;
  margin: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  outline: none;
  background-color: #f3f3f3ff;
  color: black;
  font-size: 1em;
}

.input-box span {
  position: absolute;
  left: 0%;
  top: 4px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #999999ff;
  text-transform: uppercase;
}

div .input-box input:valid ~ span,
div .input-box input:focus ~ span {
  color: transparent;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}


.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.right {
  right: 0;
  background-color: #663300ff;
  width: 40%;
}

.left {
  left: 0;
  width:60%
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.white-text {
  color: white;
}

.brown {
  background-color:  #663300ff;
  color: white;
}

.green{
  background-color:  #b9e0a5ff;
  color: black;
}

.button {
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  width: 150px;
}

p {
  margin: 20px;
}

#brown-button {
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  width: 150px;
  background-color:  #663300ff;
  color: white;

}