a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: white
}

:root {
    --mdc-theme-primary: #b9e0a5;
    --mdc-theme-secondary: #663300;
}

main {
    display:grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.user-info {
    padding: 15px;
    text-align: center;
}

.text-field {
    padding-top: 5px;
}